@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'S-CoreDream-9Black', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}
/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.main-color{
  color: orange;
}

/* 전체 */

/* header */
.header{
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  z-index: 9999;
}

.header .inner{
  position: relative;
  display: block;
  font-size: 0;

}
.header-logo{
  position: relative;
  display: block;
  background-color: blue;
  float: left;
  font-size: 14px;
}

.gnb{
  position: relative;
  display: inline-block;
  float: right;
}
.depth1{
  position: relative;
  display: block;
  white-space: nowrap;
  font-size: 0;
}
.depth1 li{
  position: relative;
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 20px 0;
}
.mainmenu{
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #000;
}

.mainmenu::after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0%;
  height: 2px;
  background: orange;
  visibility: hidden;
  transition: all 0.3s;
}

.depth1 li:hover .mainmenu{
  color: orange;
}

.depth1 li:hover .mainmenu::after{
  width: 100%;
  visibility: visible;
}

/* //header */

/* visual */
.visual{
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding-top: 100px;
}
.visual-content{
  position: relative;
  display: block;
  width: 50%;
  color: #000;
  float: left;
  padding: 20px;
}
.visual-pick{
  position: relative;
  display: block;
  width: 50%;
  float: right;
}
.visual-pick img{
  width: 100%;
  height: 100%;
}

.sw-visual{}
.sw-control{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  display: block;
  z-index: 999;
  width: 100px;
  height: 20px;
}

.swiper-pagination-bullet{
  margin: 0 5px;
}


/* //visual */

/* about */
.about{
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: gray;
}

.about-me{
  position: absolute;
  left: 0;
  top: 80px;
  display: block;
}
.about-info{}
/* //about */

/* life */
.life{
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: yellow;
}
/* //life */

/* portfolio */
.portfolio{
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: green;
}
/* //portfolio */

/* skill */
.skill{
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: skyblue;
}
.skill-depth1{
  text-align: center;
}
.skill-depth1 li{
  position: relative;
  display: inline-block;
  text-align: center;
}

#htmlskill {
  margin: 0 20px 20px 20px;
  width: 200px;
  height: 8px;
  position: relative;
}
#cssskill {
  margin: 0 20px 20px 20px;
  width: 200px;
  height: 8px;
  position: relative;
}
#jqueryskill {
  margin: 0 20px 20px 20px;
  width: 200px;
  height: 8px;
  position: relative;
}
#javascriptskill {
  margin: 0 20px 20px 20px;  
  width: 200px;
  height: 8px;
  position: relative;
}
#photoshopskill {
  margin: 0 20px 20px 20px;  
  width: 200px;
  height: 8px;
  position: relative;
}
#vueskill {
  margin: 0 20px 20px 20px;  
  width: 200px;
  height: 8px;
  position: relative;
}
#displayflex {
  margin: 0 20px 20px 20px;  
  width: 200px;
  height: 8px;
  position: relative;
}
#scssskill {
  margin: 0 20px 20px 20px;  
  width: 200px;
  height: 8px;
  position: relative;
}
/* //skill */

/* contact */
.contact{  
  position: relative;
  display: block;
  width: 100%;
  height: 30vh;
  background-color: gray;
}
/* //contact */